<ion-content class="login" fullscreen="true">
  <br/><br/>
  
  <ion-card color="white">
    <ion-card-header>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center>
            <ion-text color="dark">
              <strong>
                Ingresar
              </strong>
            </ion-text>
          </ion-col>
          <ion-col text-center (click)="register()">
            <ion-text color="medium">
              Registrarse
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding>
      <form (submit)="loginEmail()" padding>
        <ion-item >
          <ion-icon  slot="start" name="mail"></ion-icon>
          <ion-label position="floating">
            Correo electrónico
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item >
          <ion-icon  name="lock" slot="start"></ion-icon>
          <ion-label position="floating">
            Contraseña
          </ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
          <ion-button color="medium" fill="clear" slot="end">
            <ion-icon slot="icon-only" name="eye"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
      <ion-text class="link password" padding-start text-left (click)="forgotPassword()" color="medium">
        ¿Olvidó su contraseña?
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col>
            <ion-button expand="full" fill="solid" shape="round" color="primary" (click)="loginEmail()">
              Iniciar sesión  
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-text text-center color="medium">
        <p>Ingresar con una red social</p>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-button (click)="loginGoogle()" slot="end">
                Login Gogole
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>