<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list id="lista1">

    <ion-item *ngFor="let persona of personas | async">
      <ion-label >
        <h2>{{persona.nombres}}</h2>
        <h3>{{persona.direccion}}</h3>
        <p>{{persona.cedula}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
