<ion-content class="login" fullscreen="true">
  <br />
  <ion-text color="white" text-center>
    
  </ion-text>
  <ion-card color="white">
    <ion-card-header>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center (click)="login()">
            <ion-text color="medium">
              Ingresar
            </ion-text>
          </ion-col>
          <ion-col text-center>
            <ion-text color="dark">
              <strong>
                Registrarse
              </strong>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding>
      <form [formGroup]="signupForm" (submit)="signUpUser()" padding>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label position="floating">
            Nombre completo
          </ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label position="floating">
            Email
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock" slot="start"></ion-icon>
          <ion-label position="floating">
            Contraseña
          </ion-label>
          <ion-input [type]="typePassword" formControlName="password"></ion-input>
          <ion-button color="medium" fill="clear" slot="end" (click)="password()">
            <ion-icon slot="icon-only" name="eye" class="center"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="lock" slot="start"></ion-icon>
          <ion-label position="floating">
            Confirmar contraseña
          </ion-label>
          <ion-input [type]="typePassword" formControlName="confirmPassword"></ion-input>
          <ion-button color="medium" fill="clear" slot="end" (click)="password()">
            <ion-icon slot="icon-only" name="eye" class="center"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-grid>
          <ion-row *ngIf="signupForm.controls.name.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">
            <ion-col *ngIf="signupForm.controls.name.errors.required"><ion-text color="danger">Ingrese su nombre completo.</ion-text></ion-col>
          </ion-row>

          <ion-row *ngIf="signupForm.controls.email.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">
            <ion-col *ngIf="signupForm.controls.email.errors.required"><ion-text color="danger">Ingrese su correo electrónico.</ion-text></ion-col>
            <ion-col *ngIf="signupForm.controls.email.errors.email"><ion-text color="danger">La dirección de correo es invalida.</ion-text></ion-col>
          </ion-row>

          <ion-row *ngIf="signupForm.controls.password.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">
            <ion-col *ngIf="signupForm.controls.password.errors.required"><ion-text color="danger">Ingrese una contraseña de mínimo 6 caractéres.</ion-text></ion-col>
            <ion-col *ngIf="signupForm.controls.password.errors.minlength"><ion-text color="danger">La contraseña debe tener mínimo 6 caractéres.</ion-text></ion-col>
          </ion-row>
          <ion-row *ngIf="signupForm.controls.confirmPassword.invalid && (signupForm.controls.confirmPassword.dirty || signupForm.controls.confirmPassword.touched)">
            <ion-col *ngIf="signupForm.controls.confirmPassword.errors.matchpassword"><ion-text color="danger">La contraseña de confirmación no coincide.</ion-text></ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col>
            <ion-button expand="full" shape="round" fill="solid" color="primary" (click)="signUpUser()">
              Registrarse
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-text class="link" text-center color="medium" (click)="login()">
        <p>Ya tengo una cuenta</p>
      </ion-text>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>