<ion-header>
  <ion-toolbar>
    <ion-title>crear-contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Cédula <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="persona.cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">nombres</ion-label>
      <ion-textarea [(ngModel)]="persona.nombres"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" >Dirección</ion-label>
      <ion-input [(ngModel)]="persona.direccion"></ion-input>
    </ion-item>

    
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="guardar()">Guardar</ion-button>
  </div>

</ion-content>
